body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    height: auto;
}
.top-section{
    display: flex;
   
}
.devided{
    width: 50%;
    padding: 7%;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 10px;
    
    border-radius: 12px;
}
.bg-img{
    background-image: url(images/shapes/7.png);
}
.section3{
   
    padding: 5px;
}
.recipes{
    text-align: center;
    padding-bottom: 15px;
}
.devided3{
    width: 30%; 
    box-shadow: 10px 10px 40px skyblue; 
    margin-left: 3%;
    margin-right: 3%;
}
.img3{
    width: 100%;
}
footer{
    width:auto;
    background-color: black;
    
}
.text{
    color: brown;
    text-align: center;
}