body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    height: auto;
}
.top-section{
    display: flex;
   
}
.devided{
    width: 50%;
    padding: 5%;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 10px;
    
    border-radius: 12px;
}
.bg-img{
    background-image: url(images/shapes/7.png);
}
.section3{
   margin-bottom: 50px;
}
.recipes{
    text-align: center;
    padding-bottom: 15px;
}
.devided3{
    width: 32%; 
    box-shadow: 10px 10px 40px skyblue; 
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
}
.img3{
    width: 100%;
    border-radius: 40px;
    
    
    
}
.final{
    margin: 60px;
    box-shadow: 10px 10px 40px skyblue; 
    border-radius: 5px;
    border-top: 3px solid chocolate;

}
#patner{
    text-align: center;
}
.section4{
    width: 16%;
    padding-bottom: 20px;
    margin: 5px;
}
footer{
    width:auto;
    background-color: black;
    height: 150px;
}
#footerh3{
    padding-top: 30px;
}
.text{
    color: brown;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.stclr{
    color: chocolate;
}